<ion-header>
    <ion-toolbar color="toolbar">
        <ion-title id="gome_title">
            NGX-FIREBASE
        </ion-title>
        <ion-buttons slot="end">
            <mal-auth-avatar [showIfAnon]="true"></mal-auth-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button expand="block" (click)="doLogin()">Sign In</ion-button>
    <ion-button expand="block" (click)="doRegister()">Create Account</ion-button>
    <ion-button expand="block" (click)="doContinueAnonymously()">Continue Anonymously</ion-button>
</ion-content>